{% extends 'base.html' %}



{% block content %}
	{% if form.non_field_errors %}
	    <div class="alert alert-danger alert-dismissible fade show" role="alert">
	      {% for error in form.non_field_errors %}
	        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
	      {% endfor %}
	      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	        <span aria-hidden="true">&times;</span>
	      </button>
	    </div>
  	{% endif %}

    <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Log In</legend>
        {{ form.as_p }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Login</button>
      </div>
    </form>
    </div>  
  	
{% endblock %}