{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-sm-10 col-12">
			<h2>Sign up as a {{ user_type }}</h2>
			<form method="post" novalidate>
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}">
				{{ form|crispy }}
				{% if user_type == librarian %}
					<button type="submit" class="btn btn-success">Sign up</button>
				{% elif user.is_student %}
					<button type="submit" class="btn btn-success">Request</button>
				{% else %}
					<button type="submit" class="btn btn-success">Request</button>											
				{% endif %}	
			</form>	
		</div>	
	</div>			
{% endblock %}