{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
	    
	    {% if user.is_authenticated and user.is_librarian %}
	      <link rel="stylesheet" type="text/css" href="{% static 'css/librarian.css' %}">
	    {% else %}
	      <link rel="stylesheet" type="text/css" href="{% static 'css/students.css' %}">
	    {% endif %}
		<title></title>
	</head>
	<body>
		
		{% if user.is_authenticated and user.is_student %}
		<!-- Responsive navbar -->
		<div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  	<!--<div class="collapse navbar-collapse" id="navbarCollapse"> 
		  	</div>-->
		  	<div class="navbar-header">
		  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			    	<span class="sr-only">Toggle navigation</span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			    </button>	
			</div>
			<div class="menu-container">
			    <ul class="nav navbar-nav">
			    	<li><a id="navbar-brand" href="{% url 'students:detail' %}"><img src="/static/img/you.png" id="you" width="73" height="73"></a></li>
			    	<li><a id="navbar-brand" href="{% url 'students:map' %}"><img src="/static/img/map.png" id="map" width="100" height="70"></a></li>
			    	<li><a id="navbar-brand" href="{% url 'students:transfer' %}"><img src="/static/img/pinkcard.png" id="pinkcard" width="105" height="70"></a></li>
			    </ul>	
			</div>
		</nav>
		</div>
		{% endif %}

		{% if user.is_authenticated and user.is_librarian %}
		<!-- Responsive navbar -->
		<div>
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  	<!--<div class="collapse navbar-collapse" id="navbarCollapse"> 
		  	</div>-->
		  	<div class="navbar-header">
		  		<a class="navbar-brand" href="#">DLSR</a>
		  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			    	<span class="sr-only">Toggle navigation</span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			    </button>	
			</div>
			<div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="#">Home</a></li>
			      <li><a href="{% url 'librarian:ViewingDegProgList' %}">Students</a></li>
			      <li><a href="#">Electric Usage</a></li>
			    </ul>	
			</div>
		</nav>
		</div>
		{% endif %}
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="col-6 text-right">
            {% if user.is_authenticated %}
            	<p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
           	{% else %}
            	<a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
            	<a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
          	{% endif %}
       	</div>
		<div class="container">
			<div class="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>	


		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>